@font-face {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/Inter-Medium.woff") format("woff"),
    url("../fonts/Inter-Medium.woff2") format("woff2");
}
